<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">New Park</h1>
        <div class="col-6 offset-3">
            <form action="/parks" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class = "form-control" type="text" name="park[title]" id="title" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class = "form-control" type="text" name="park[location]" id="location" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class = "form-control" type="text" name="park[image]" id="image" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" class="form-control" placeholder="0.00" aria-label="Username" aria-describedby="basic-addon1" name="park[price]" required>
                  </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class = "form-control" type="text" name="park[description]" id="description" required> </textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">SUBMIT</button>
                </div>
                
            </form>
        </div>
    </div>
